.container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 350px 100px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        ". . . . c c c c c . . ."
        "f f f f f f f f f f f f";
}
.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 150px;
    grid-template-areas:
        "s s s s s s s s s s s s"
        ". . . . t t t e e . . .";
}
.story {
    grid-area: s;
    line-height:38px;
    font-size:20px;
}
.type {
    grid-area: t;
}

.enter {
    grid-area: e;
}

.footer {
    grid-area: f;
}
@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px 250px 100px 100px;
        grid-template-areas:
            "h h h h h h h h h h h h"
            ". . . . c c c c c . . ."
            "f f f f f f f f f f f f";
    }
}

    body {
        background-color: white;
        font-family: 'Noto Serif TC', serif;
        color: black;
    }

    * {
        box-sizing: border-box;
    }

    .navigationbar {
        background-color: black;
        height: 100px;
    }

    .content {
        width: 100%;
        display: inline-block;
        float: left;
    }

    #logo {
        background-image: url("交傲頭貼黑.jpg");
        background-size:cover;
        position:relative;
        left:50%;
        height: 100%;
    }
#q{
    color:orange;

}
.header {
    font-size: 30px;
    color: black;
    position: relative;
    left: 33%;
    top:5%;
}

input {
    font-size: 20px;
    color: black;
    font-family: fantasy;
}

#btn {
    width:60px;
    position:relative;
    left:70px;
    padding-top: 9px;
    background-color: #cfc8ad;
    text-align: center;
}

    .mouse {
        cursor: pointer;
    }
.row::after {
    content: "";
    clear: both;
    display: table;
}
#photo{
    width:150%;
}
#photo2 {
    width: 70%;
}
story1 {
    grid-area: s1;
}

    /*text-decoration:line-through;*/